
build/.vs/TND012-Lab-6/v16/Browse.VC.db
build/.vs/TND012-Lab-6/v16/Browse.VC.db-shm
build/.vs/TND012-Lab-6/v16/Browse.VC.db-wal
build/.vs/TND012-Lab-6/v16/Browse.VC.opendb
build/.vs/TND012-Lab-6/v16/ipch/AutoPCH/fb9a921d670f4bc/UPPGIFT1.ipch
build/.vs/TND012-Lab-6/v16/Solution.VC.db
build/.vs/TND012-Lab-6/v16/Solution.VC.db-shm
build/.vs/TND012-Lab-6/v16/Solution.VC.db-wal
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/3.21.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.21.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.21.2/CMakeRCCompiler.cmake
build/CMakeFiles/3.21.2/CMakeSystem.cmake
build/CMakeFiles/3.21.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.21.2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.21.2/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.21.2/VCTargetsPath.txt
build/CMakeFiles/3.21.2/VCTargetsPath.vcxproj
build/CMakeFiles/3.21.2/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.21.2/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/baf5e12d8d158e69608331d449c51bfa/generate.stamp.rule
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/TND012-Lab-6.sln
build/uppgift1.vcxproj
build/uppgift1.vcxproj.filters
build/uppgift2.vcxproj
build/uppgift2.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
