
build/.vs/TND012-Lab-6/v16/Browse.VC.db
build/.vs/TND012-Lab-6/v16/Browse.VC.db-shm
build/.vs/TND012-Lab-6/v16/Browse.VC.db-wal
build/.vs/TND012-Lab-6/v16/Browse.VC.opendb
build/.vs/TND012-Lab-6/v16/ipch/AutoPCH/fb9a921d670f4bc/UPPGIFT1.ipch
build/.vs/TND012-Lab-6/v16/Solution.VC.db
build/.vs/TND012-Lab-6/v16/Solution.VC.db-shm
build/.vs/TND012-Lab-6/v16/Solution.VC.db-wal
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/3.21.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.21.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.21.2/CMakeRCCompiler.cmake
build/CMakeFiles/3.21.2/CMakeSystem.cmake
build/CMakeFiles/3.21.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.21.2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.21.2/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.21.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.21.2/VCTargetsPath.txt
build/CMakeFiles/3.21.2/VCTargetsPath.vcxproj
build/CMakeFiles/3.21.2/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.21.2/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/baf5e12d8d158e69608331d449c51bfa/generate.stamp.rule
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/TND012-Lab-6.sln
build/uppgift1.vcxproj
build/uppgift1.vcxproj.filters
build/uppgift2.vcxproj
build/uppgift2.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.vs/TND012-Lab-6/v16/.suo
build/.vs/TND012-Lab-6/v16/ipch/AutoPCH/2cf13ac71142b0b8/MAIN.ipch
build/.vs/TND012-Lab-6/v16/ipch/AutoPCH/33eecc0b54f16062/MOVIE.ipch
build/.vs/TND012-Lab-6/v16/ipch/AutoPCH/8decc0cb7f7ad9c5/EMPLOYEE.ipch
build/.vs/TND012-Lab-6/v16/ipch/AutoPCH/b2ee5ac323eaa8e4/UPPGIFT1.ipch
build/ALL_BUILD.vcxproj.user
build/CMakeFiles/8ba2d125002a75acbcd314b7d84b7011/generate.stamp.rule
build/Debug/uppgift1.exe
build/Debug/uppgift1.pdb
build/Debug/uppgift2.pdb
build/uppgift1.dir/Debug/movie.obj
build/uppgift1.dir/Debug/uppgift1.Build.CppClean.log
build/uppgift1.dir/Debug/uppgift1.exe.recipe
build/uppgift1.dir/Debug/uppgift1.ilk
build/uppgift1.dir/Debug/uppgift1.log
build/uppgift1.dir/Debug/uppgift1.obj
build/uppgift1.dir/Debug/uppgift1.tlog/CL.command.1.tlog
build/uppgift1.dir/Debug/uppgift1.tlog/CL.read.1.tlog
build/uppgift1.dir/Debug/uppgift1.tlog/CL.write.1.tlog
build/uppgift1.dir/Debug/uppgift1.tlog/CustomBuild.command.1.tlog
build/uppgift1.dir/Debug/uppgift1.tlog/CustomBuild.read.1.tlog
build/uppgift1.dir/Debug/uppgift1.tlog/CustomBuild.write.1.tlog
build/uppgift1.dir/Debug/uppgift1.tlog/link.command.1.tlog
build/uppgift1.dir/Debug/uppgift1.tlog/link.read.1.tlog
build/uppgift1.dir/Debug/uppgift1.tlog/link.write.1.tlog
build/uppgift1.dir/Debug/uppgift1.tlog/uppgift1.lastbuildstate
build/uppgift1.dir/Debug/uppgift1.vcxproj.FileListAbsolute.txt
build/uppgift1.dir/Debug/vc142.pdb
build/uppgift1.vcxproj.user
build/uppgift2.dir/Debug/image.obj
build/uppgift2.dir/Debug/uppgift2.Build.CppClean.log
build/uppgift2.dir/Debug/uppgift2.log
build/uppgift2.dir/Debug/uppgift2.obj
build/uppgift2.dir/Debug/uppgift2.tlog/CL.command.1.tlog
build/uppgift2.dir/Debug/uppgift2.tlog/CL.read.1.tlog
build/uppgift2.dir/Debug/uppgift2.tlog/CL.write.1.tlog
build/uppgift2.dir/Debug/uppgift2.tlog/CustomBuild.command.1.tlog
build/uppgift2.dir/Debug/uppgift2.tlog/CustomBuild.read.1.tlog
build/uppgift2.dir/Debug/uppgift2.tlog/CustomBuild.write.1.tlog
build/uppgift2.dir/Debug/uppgift2.tlog/link-cvtres.read.1.tlog
build/uppgift2.dir/Debug/uppgift2.tlog/link-cvtres.write.1.tlog
build/uppgift2.dir/Debug/uppgift2.tlog/link-rc.read.1.tlog
build/uppgift2.dir/Debug/uppgift2.tlog/link-rc.write.1.tlog
build/uppgift2.dir/Debug/uppgift2.tlog/link.command.1.tlog
build/uppgift2.dir/Debug/uppgift2.tlog/link.read.1.tlog
build/uppgift2.dir/Debug/uppgift2.tlog/link.read.2.tlog
build/uppgift2.dir/Debug/uppgift2.tlog/link.write.1.tlog
build/uppgift2.dir/Debug/uppgift2.tlog/unsuccessfulbuild
build/uppgift2.dir/Debug/uppgift2.tlog/uppgift2.lastbuildstate
build/uppgift2.dir/Debug/uppgift2.vcxproj.FileListAbsolute.txt
build/uppgift2.dir/Debug/vc142.pdb
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.Build.CppClean.log
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.vcxproj.FileListAbsolute.txt
build/.vs/TND012-Lab-6/v16/ipch/AutoPCH/13704f959c492e96/UPPGIFT2.ipch
build/.vs/TND012-Lab-6/v16/ipch/AutoPCH/f59a9136e7c376fa/IMAGE.ipch
build/
